main {
  min-height: 90vh;
}

.search-btn {
  position: absolute;
  left: 90%;
  height: 100%;
}

.search-show {
  position: absolute;
  left: 0%;
  top: 0;
  opacity: 100%;
  transition-property: opacity, visibility, left !important;
  transition-duration: 0.3s !important;
}

.search-hide {
  left: -800%;
  opacity: 0%;
  /* visibility: hidden; */
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}

.missing span {
  display: inline-block;
  animation-name: bounce;
  animation-timing-function: ease-in-out;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.missing span:nth-child(1) {
  animation-delay: 0.1s;
}
.missing span:nth-child(2) {
  animation-delay: 0.3s;
}
.missing span:nth-child(3) {
  animation-delay: 0.5s;
}
.missing span:nth-child(4) {
  animation-delay: 0.7s;
}
.missing span:nth-child(5) {
  animation-delay: 0.9s;
}
@keyframes bounce {
  0% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(-30px);
  }
}
